* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(218, 165, 32);
  --dark: rgba(28,29,33,1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: white;
  padding: 25px;
}

#navigation a {
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  color: #023020;
  background-color: white;
  font-size: 1.1rem;
  background-image: linear-gradient(270deg, #023020 0%, #023020 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

#navigation a:hover {
  transition: 0.5s ease;
  border-radius: 5px;
  background-size: 100% 100%;
  color: white;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#navBar h1 {
  width: 50%;
  font-weight: 500;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #042217;
  font-size: 2.3rem;
}

.hero-banner {
  background-color: #042217;
  background-image: url(../darkgreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  color: white;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner h2 {
  background-color: #042217;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
  margin: 0;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  color: #042217;
  padding-right: 15px;
  border-right: 4px solid #042217; 
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section > p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--dark);
  color: white;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-size: 150%;
  background-blend-mode: soft-light;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flex-item:first-child {
  min-height: 250px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: #042217;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact address a {
  padding: 70px;
  text-decoration: none;
  color: #042217;
  font-style: normal;
  display: inline;
  max-width: 100%;
}

.contact address a:hover {
  color:rgb(80, 140, 99);
}

.dashboard {
  background-image: url(../images/Screenshot\ 2023-05-20\ 120559.png);
}

.recipefinder {
  background-image: url(../images/videos-page-screenshot.png);
  background-size: cover;
}

.furniturestore {
  background-image: url(../images/React-App.png);
  background-size: cover;
}

.passgenerator {
  background-image: url(../images/Screenshot-final-result.png);
  background-size: cover;
}

.calendarplanner {
  background-image: url(../images/Final-Screenshot.png);
  background-size: cover;
}

.codingquiz {
  background-image: url(../images/Screenshot\ 2023-05-21\ 160945.png);
  background-size: cover;
}

.teamgen {
  background-image: url(../images/Final-SS.png);
  background-size: cover;
}

.coding {
  margin: 10px;
  position: relative;
}

.coding .project-title,
.coding .project-languages {
  display: none;
}

.flex-item:hover .coding .project-title,
.flex-item:hover .coding .project-languages {
  display: block;
}

@media screen and (max-width: 1500px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .hero-banner {
    text-align: center;
    justify-content: center;
  }

  .address {
    padding: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "number email"
      "git linkedin";
    }
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
